<p id="notice"><%= notice %></p>

<h1>Listing Grills</h1>

<table>
  <thead>
    <tr>
      <th>Ans1</th>
      <th>Ans2</th>
      <th>Ans3</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grills.each do |grill| %>
      <tr>
        <td><%= grill.ans1 %></td>
        <td><%= grill.ans2 %></td>
        <td><%= grill.ans3 %></td>
        <td><%= grill.question %></td>
        <td><%= link_to 'Show', grill %></td>
        <td><%= link_to 'Edit', edit_grill_path(grill) %></td>
        <td><%= link_to 'Destroy', grill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grill', new_grill_path %>
