<p id="notice"><%= notice %></p>

<p>
  
<h1 class="results">Results</h1>  
  <strong>Ans1:</strong>
  <%= @grill.ans1 %>
</p>

<p>
  <strong>Ans2:</strong>
  <%= @grill.ans2 %>
</p>

<p>
  <strong>Ans3:</strong>
  <%= @grill.ans3 %>
</p>

<p>
  <strong>Question ID:</strong>
  <%= @grill.question_id %>
</p>

<%= link_to 'Back', grills_path %>
