<h1>Results Page</h1>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="I got grilled, yo!" data-via="grillten" data-size="large" data-hashtags="grill10">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<h3 class="score">
  Score: <%= @score %>
  Message: <%= @message %>
  Q 1: <%= @q1 %>
  Answer 1: <%= @a1 %>


</h3>

<h2 class="answersentered">
  Answers Entered
</h2>
<%= @grill.ans1 %><br>
<%= @grill.ans2 %><br>
<%= @grill.ans3 %><br>



<%= render 'form' %>

<%= link_to 'Back', results_path %>

<%= @question.q1 %>

<%= @grill.ans1 %>

<h1 class="questions">Question List</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @question.q1 %>
</p>

<p>
  <strong>Q1a:</strong>
  <%= @question.q1a %>
</p>

<p>
  <strong>Q1b:</strong>
  <%= @question.q1b %>
</p>

<p>
  <strong>Q1c:</strong>
  <%= @question.q1c %>
</p>

<p>
  <strong>Q1d:</strong>
  <%= @question.q1d %>
</p>

<p>
  <strong>Q1correct:</strong>
  <%= @question.q1correct %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @question.q2 %>
</p>

<p>
  <strong>Q2a:</strong>
  <%= @question.q2a %>
</p>

<p>
  <strong>Q2b:</strong>
  <%= @question.q2b %>
</p>

<p>
  <strong>Q2c:</strong>
  <%= @question.q2c %>
</p>

<p>
  <strong>Q2d:</strong>
  <%= @question.q2d %>
</p>

<p>
  <strong>Q2correct:</strong>
  <%= @question.q2correct %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @question.q3 %>
</p>

<p>
  <strong>Q3a:</strong>
  <%= @question.q3a %>
</p>

<p>
  <strong>Q3b:</strong>
  <%= @question.q3b %>
</p>

<p>
  <strong>Q3c:</strong>
  <%= @question.q3c %>
</p>

<p>
  <strong>Q3d:</strong>
  <%= @question.q3d %>
</p>

<p>
  <strong>Q3correct:</strong>
  <%= @question.q3correct %>
</p>
<br>
